<!doctype html>
<html lang="en">
<head>
    <title>Luxclusif's Challenge</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <link href="../static/css/material-kit.css?v=2.0.7" rel="stylesheet" />
</head>

<body class="landing-page sidebar-collapse">
    <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="homePage.html">
                    Luxclusif's challenge </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/farfetch" target="_blank" data-original-title="Follow us on Twitter" rel="nofollow">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/Farfetch" target="_blank" data-original-title="Like us on Facebook" rel="nofollow">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/farfetch/" target="_blank" data-original-title="Follow us on Instagram" rel="nofollow">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../static/img/challenge/ff-desktop.jpg')">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1 class="title">Sell your designer bags for Farfetch credit</h1>
                    <h4>Introducing Farfetch Second Life, a new service to enable you to make space in your wardrobe by selling your bags in exchange for credits to spend on Farfetch. Give your bags a second lease of life. Earn Credit.*</h4>
                    <h5>Available in the UK, European Union and Norway. Please see <a href="https://secondlife.farfetch.com/faq">FAQs</a> for more details. Based elsewhere? <a href="https://secondlife.farfetch.com/register">Get notified</a> when Second Life launches near you.</h5>
                    <br>
                    <a href="https://youtu.be/jIAM84-DjMI" target="_blank" class="btn btn-danger btn-raised btn-lg">
                        <i class="fa fa-play"></i> Watch video
                    </a>
                    <p></p>
                    <button class="btn btn-raised">
                        <a href="/login">Start selling</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Here's how it works</h2>
                    </div>
                </div>
                <div class="features">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-info">
                                    <img src="../static/img/challenge/1.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid"/>
                                </div>
                                <h4 class="info-title">Get your quote</h4>
                                <p>Upload photos of the bag you want to sell from the brands listed below, and within 2 business days we'll tell you how much credit you could earn</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-success">
                                    <img src="../static/img/challenge/2.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid"/>
                                </div>
                                <h4 class="info-title">Arrange a free collection</h4>
                                <p>Schedule a pick-up at a time that suits you, then we'll take care of the rest</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <img src="../static/img/challenge/3.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid"/>
                                </div>
                                <h4 class="info-title">Earn Farfetch credit</h4>
                                <p>Get credit in just two business days once your bag has been received and verified at our warehouse</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section text-center">
                <div class="team">
                    <div class="row">
                        <div class="col-md-6" style="background-image: url('../static/img/challenge/welcome-left3-new.webp')">
                            <div class="team-player">
                                <div class="card card-plain">
                                    <div class="card-body">
                                        <p style="color: #fff; font-size: x-large; font-weight: bolder; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">What's in it for me?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="team-player">
                                <div class="card card-plain">
                                    <div class="card-body">
                                        <h4 class="card-description" style="color: black; font-weight: bold">Instant payment</h4>
                                        <p class="card-description">We give you credit as soon as your bag has been verified so you can fund your next purchase faster</p>
                                        <h4 class="card-description" style="color: black; font-weight: bold">Get something new</h4>
                                        <p class="card-description">Use your credit to buy new things on Farfetch</p>
                                        <h4 class="card-description" style="color: black; font-weight: bold">No fees</h4>
                                        <p class="card-description">The price we give you is the value of the credit you will get. No hidden fees.</p>
                                        <h4 class="card-description" style="color: black; font-weight: bold">Do good</h4>
                                        <p class="card-description">By selling your bag, you're doing your bit to extend its life and help the environment</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="section text-center">
                <h2 class="title">At the moment we accept the following brands</h2>
                <div class="team">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-player">
                                <div class="card card-plain">
                                    <div class="card-body">
                                        <p class="card-description">Alexander McQueen</p>
                                        <p class="card-description">Burberry</p>
                                        <p class="card-description">Chanel</p>
                                        <p class="card-description">Givenchy</p>
                                        <p class="card-description">Loewe</p>
                                        <p class="card-description">Mulberry</p>
                                        <p class="card-description">Stella McCartney</p>
                                        <p class="card-description">YSL</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-player">
                                <div class="card card-plain">
                                    <div class="card-body">
                                        <p class="card-description">Alexander Wang</p>
                                        <p class="card-description">Bvlgari</p>
                                        <p class="card-description">Dior</p>
                                        <p class="card-description">Gucci</p>
                                        <p class="card-description">Louis Vuitton</p>
                                        <p class="card-description">Off White</p>
                                        <p class="card-description">The Row</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-player">
                                <div class="card card-plain">
                                    <div class="card-body">
                                        <p class="card-description">Balenciaga</p>
                                        <p class="card-description">Cartier</p>
                                        <p class="card-description">Dolce & Gabbana</p>
                                        <p class="card-description">Hermès</p>
                                        <p class="card-description">MCM</p>
                                        <p class="card-description">Prada</p>
                                        <p class="card-description">Valentino</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-player">
                                <div class="card card-plain">
                                    <div class="card-body">
                                        <p class="card-description">Bottega Veneta</p>
                                        <p class="card-description">Celine</p>
                                        <p class="card-description">Fendi</p>
                                        <p class="card-description">Jacquemus</p>
                                        <p class="card-description">Miu Miu</p>
                                        <p class="card-description">Salvatore Ferragamo</p>
                                        <p class="card-description">Versace</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="card-description">Watch this space though, we're working on a broader initiative to enable you to trade in other items</h5>
            </div>

            <div class="section text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">See what previous customers have sold</h2>
                    </div>
                </div>
                <div class="features">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-info">
                                    <img src="../static/img/challenge/GUCCI-small.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid"/>
                                </div>
                                <h4 class="info-title">Gucci</h4>
                                <p>Large Leather Soho Tote</p>
                                <h4 class="info-title">£265</h4>
                                <p>Condition: Good</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-success">
                                    <img src="../static/img/challenge/LV-small.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid"/>
                                </div>
                                <h4 class="info-title">Louis Vuitton</h4>
                                <p>Damier Ebene Trevi PM</p>
                                <h4 class="info-title">£485</h4>
                                <p>Condition: Good</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <img src="../static/img/challenge/CHLOE-small.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid"/>
                                </div>
                                <h4 class="info-title">Chloe</h4>
                                <p>Medium Leather Aby</p>
                                <h4 class="info-title">£805</h4>
                                <p>Condition: Excellent</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <img src="../static/img/challenge/DIOR-small.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid"/>
                                </div>
                                <h4 class="info-title">Dior</h4>
                                <p>Embroidered Book Tote</p>
                                <h4 class="info-title">£1,440</h4>
                                <p>Condition: Pristine</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="text-center">
                    <h1 class="title" style="position: center">Got a bag to sell?</h1>
                    <p></p>
                    <button class="btn btn-raised">
                        <a href="/login">Start selling</a>
                    </button>
                </div>
            </div>

            <div class="section text-center">
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <h2 class="title">What our customers say about their Second Life experience...</h2>
                    </div>
                </div>
                <div class="features">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info">
                                <p style="font-style: italic"><a style="color: black; font-weight: bolder;">"</a>I think the overall process was <a style="color: black; font-weight: bolder">super easy, simple and well-laid out."</a></p>
                                <p style="color: black; font-weight: bolder;">by Manal W.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info">
                                <p style="font-style: italic"><a style="color: black; font-weight: bolder;">"</a>Everything went smoothly as explained in the mail. <a style="color: black; font-weight: bolder">So easy, so fast.</a> Thank you!<a style="color: black;font-weight: bolder">"</a></p>
                                <p style="color: black; font-weight: bolder;">by Deniz G.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="info">
                                <p style="font-style: italic"><a style="color: black; font-weight: bolder">"</a>The service was <a style="color: black; font-weight: bolder">informative and efficient.</a> I will definitely be using this service and recommending to friends and family</p>
                                <p style="color: black; font-weight: bolder">by Iram R.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="text-center">
                    <p class="title" style="position: center; font-weight: lighter">We're on a mission to become the global platform for good in luxury fashion – empowering everyone to think, act and choose positively. Services like Farfetch Second Life help our customers extend the life of the clothes they buy. It's all part of what we call Positively Farfetch.</p>
                    <p></p>
                    <p style="margin-bottom: 0px;">
                        <br>
                        <a href="https://www.farfetch.com" title="Positively Farfetch">
                            <img src="../static/img/challenge/positively-logo.jpg" alt="Positively Farfetch">
                        </a>
                    </p>
                </div>
            </div>

            <div class="section section-contacts">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="text-center title">Contact us</h2>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Your Name</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Your Email</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
                                <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-4 ml-auto mr-auto text-center">
                                    <button class="btn btn-raised">
                                        <a href="mailto: example@example.com">Send Message</a>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav class="float-left">
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com/">
                            Creative Tim
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright float-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, made with <i class="material-icons">favorite</i> by
                <a href="https://www.creative-tim.com/" target="blank">Creative Tim</a> for a better web.
            </div>
        </div>
    </footer>
</body>
</html>